<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Angular Datamaps Example</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
  <!--[if lt IE 9]>
    <script src="es5-shim/es5-shim.min.js"></script>
    <script src="json3/lib/json3.min.js"></script>
    <script src="html5shiv/dist/html5shiv.js"></script>
    <script src="respond/respond.min.js"></script>
  <![endif]-->
  <script src="angular/angular.js" charset="utf-8"></script>
  <script src="d3/d3.js" charset="utf-8"></script>
  <script src="topojson/topojson.js" charset="utf-8"></script>
  <script src="datamaps/dist/datamaps.all.js" charset="utf-8"></script>
  <script src="angular-datamaps.js" charset="utf-8"></script>

  <script charset="utf-8">

    // Define our main app
    var app = angular.module('app', [
      'datamaps'
    ]);

    // Scope as the parent of the angular-datamap directive
    app.controller('SimpleCtrl', function($scope) {
      $scope.map = {
        scope: 'usa',
        data: {
          "CA": "red",
          "OR": {
            "value": "Y",
            "fillKey": "RED"
          },
          "WA": {
            "value": "N",
            "fillKey": "BLUE"
          },
          "NV": {
            "value": "Y",
            "fillKey": "YELLOW"
          },
          "ID": {
            "value": "Maybe",
            "fillKey": "YELLOW"
          },
          "UT": {
            "value": "N",
            "fillKey": "BLUE"
          }
        },
        fills: {
          "BLUE": "blue",
          "YELLOW": "yellow",
          "RED": "red",
          "defaultFill": "#b9b9b9"
        },
        options: {
          width: 1110,
          legend: true,
          labels: true,
          labelColor: '#333333',
          labelSize: 14,
          projection: 'mercator'
        }
      }

      $scope.map2 = {
        scope: 'world',
        data: {
          "USA": {
            "value": 125,
            "fillKey": "HIGH"
          },
          "CAN": {
            "value": 50,
            "fillKey": "MEDIUM"
          },
          "IRL": {
            "value": 70,
            "fillKey": "LOW"
          },
          "RUS": {
            "value": 312,
            "fillKey": "HIGH"
          }
        },
        fills: {
          "HIGH": '#666666',
          "LOW": '#b9b9b9',
          "MEDIUM": '#fafafa',
          "defaultFill": "orange"
        },
        options: {
          width: 1110
        }
      }

    });

    // Start it up
    angular.element(document).ready(function () {
      angular.bootstrap(document, ['app']);
    });

  </script>
</head>
<body>
  <div class="container" ng-controller="SimpleCtrl">
    <div class="jumbotron">
      <div class="jumbotron-body">
        <h1>Angular Datamaps</h1>
        <p>An Angular directive to display maps with d3 and Datamaps</p>
        <ul>
          <li>Lightweight</li>
          <li>Automatically updates on changes to bound data and options</li>
          <li>No dependencies beside d3, topojson and https://github.com/markmarkoh/datamaps</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Simple Example - USA</h3>
      </div>
      <div class="panel-body">
        <datamap
          map="map"
          >
        </datamap>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="map.options.labels" id="map-labels-toggle" />
            </span>
            <input class="form-control" type="text" placeholder="Toggle Labels" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <input class="form-control" type="number" ng-model="map.options.width" id="map-option-width" />
            <span class="input-group-addon">Map Width</span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">World Map</h3>
      </div>
      <div class="panel-body">
        <datamap
          map="map2"
          >
        </datamap>
      </div>
    </div>

  </div>
</body>
</html>
