<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Angular Datamaps Example</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
  <!--[if lt IE 9]>
    <script src="es5-shim/es5-shim.min.js"></script>
    <script src="json3/lib/json3.min.js"></script>
    <script src="html5shiv/dist/html5shiv.js"></script>
    <script src="respond/respond.min.js"></script>
  <![endif]-->
  <script src="angular/angular.js" charset="utf-8"></script>
  <script src="d3/d3.js" charset="utf-8"></script>
  <script src="topojson/topojson.js" charset="utf-8"></script>
  <script src="datamaps/dist/datamaps.all.js" charset="utf-8"></script>
  <script src="angular-datamaps.js" charset="utf-8"></script>

  <script charset="utf-8">

    // Define our main app
    var app = angular.module('app', [
      'datamaps'
    ]);

    // Scope as the parent of the angular-datamap directive
    app.controller('SimpleCtrl', function($scope) {
      $scope.plugins = {
        customLegend: function(layer, data, options) {
          var html = ['<ul class="list-inline">'],
              label = '';
          for (var fillKey in this.options.fills) {
            html.push('<li class="key" ',
                        'style="border-top: 10px solid ' + this.options.fills[fillKey] + '">',
                        (fillKey === 'defaultFill' ? 'N/A' : fillKey),
                        '</li>');
          }
          html.push('</ul>');
          d3.select(this.options.element).append('div')
            .attr('class', 'datamaps-legend')
            .style('position', 'absolute')
            .style('bottom', 0)
            .html(html.join(''));
        }
      };

      $scope.map = {
        scope: 'usa',
        responsive: true,
        options: {
          staticGeoData: true
        },
        geographyConfig: {
          highlightBorderColor: '#bada55',
          popupTemplate: function(geography, data) {
            return '<div class="hoverinfo">' +
                     geography.properties.name +
                     'Electoral Votes: ' +
                     (data.electoralVotes || '0') +
                   '</div>';
          },
          highlightBorderWidth: 3
        },
        fills: {
          'Republican': '#CC4731',
          'Democrat': '#306596',
          'Heavy Democrat': '#667FAF',
          'Light Democrat': '#A9C0DE',
          'Heavy Republican': '#CA5E5B',
          'Light Republican': '#EAA9A8',
          defaultFill: '#b9b9b9'
        },
        data: {
          "AZ": {
            "fillKey": "Republican",
            "electoralVotes": 5
          },
          "CO": {
            "fillKey": "Light Democrat",
            "electoralVotes": 5
          },
          "DE": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "FL": {
            "electoralVotes": 29,
            "fillKey": "defaultFill"
          },
          "GA": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "HI": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "ID": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "IL": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "IN": {
            "fillKey": "Republican",
            "electoralVotes": 11
          },
          "IA": {
            "fillKey": "Light Democrat",
            "electoralVotes": 11
          },
          "KS": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "KY": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "LA": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "MD": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "ME": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "MA": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "MN": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "MI": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "MS": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "MO": {
            "fillKey": "Republican",
            "electoralVotes": 13
          },
          "MT": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "NC": {
            "fillKey": "Light Republican",
            "electoralVotes": 32
          },
          "NE": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "NV": {
            "fillKey": "Heavy Democrat",
            "electoralVotes": 32
          },
          "NH": {
            "fillKey": "Light Democrat",
            "electoralVotes": 32
          },
          "NJ": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "NY": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "ND": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "NM": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "OH": {
            "electoralVotes": 32,
            "fillKey": "defaultFill"
          },
          "OK": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "OR": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "PA": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "RI": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "SC": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "SD": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "TN": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "TX": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "UT": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "WI": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "VA": {
            "fillKey": "Light Democrat",
            "electoralVotes": 32
          },
          "VT": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "WA": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "WV": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "WY": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "CA": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "CT": {
            "fillKey": "Democrat",
            "electoralVotes": 32
          },
          "AK": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "AR": {
            "fillKey": "Republican",
            "electoralVotes": 32
          },
          "AL": {
            "fillKey": "Republican",
            "electoralVotes": 32
          }
        }
      } 

      $scope.map2 = {
        scope: "world",
        projection: "mercator",
        data: {
          "USA": {
            "value": 125,
            "fillKey": "HIGH"
          },
          "CAN": {
            "value": 50,
            "fillKey": "MEDIUM"
          },
          "IRL": {
            "value": 70,
            "fillKey": "LOW"
          },
          "RUS": {
            "value": 312,
            "fillKey": "HIGH"
          },
          "JPN": {
            "fillKey": "LOW",
            "value": 75
          },
          "ITA": {
            "fillKey": "LOW",
            "value": 55
          },
          "CRI": {
            "fillKey": "MEDIUM",
            "value": 130
          },
          "KOR": {
            "fillKey": "HIGH",
            "value": 230
          },
          "DEU": {
            "fillKey": "HIGH",
            "value": 300
          }
        },
        fills: {
          "HIGH": '#666666',
          "LOW": '#b9b9b9',
          "MEDIUM": '#abdda4',
          "defaultFill": "orange"
        }
      }
    });

    // Start it up
    angular.element(document).ready(function () {
      angular.bootstrap(document, ['app']);
    });

  </script>
</head>
<body>
  <div class="container" ng-controller="SimpleCtrl">
    <div class="jumbotron">
      <div class="jumbotron-body">
        <h1>Angular Datamaps</h1>
        <p>An Angular directive to display maps with d3 and Datamaps</p>
        <ul>
          <li>Lightweight</li>
          <li>Automatically updates on changes to bound data and options</li>
          <li>No dependencies beside d3, topojson and https://github.com/markmarkoh/datamaps</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Simple Example - USA</h3>
      </div>
      <div class="panel-body">
        <datamap
          map="map"
          plugins="plugins"
          zoomable="true"
          >
        </datamap>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="map.options.labels" id="map-labels-toggle" />
            </span>
            <input class="form-control" type="text" placeholder="Toggle Labels" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <input class="form-control" type="number" ng-model="map.options.width" id="map-option-width" />
            <span class="input-group-addon">Map Width</span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">World Map</h3>
      </div>
      <div class="panel-body">
        <datamap
          map="map2"
          >
        </datamap>
      </div>
    </div>

  </div>
</body>
</html>
